<div class="mb-3">
    <div id="editor" class="form-control mb-2 editor-container" contenteditable="true" spellcheck="false"></div>
    <button id="analyze" class="btn btn-primary me-2">Analizar</button>
</div>